In [4]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'person_id': [1,1,1,2,2,3],
    'abspos': [100, 200, 300, 400, 500, 600], # abspos in hours since Jan1, 2020 (see utils.py:calculate_abspos.py)
    'age': [10, 20, 30, 40, 50, 60], # age in years
    'event': [[5, 6], [7], [5, 7, 8, 10], [1,2,3], [1,2,3,4], [1]], # Tokenized tokens, where each list (uneven lengths) is an event, each element in list is token
    # Segment is not saved here and would require to be created in collate_fn (if in-memory, we can create it here)
})
vocabulary = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10}

In [8]:
df

   person_id  abspos  age          event
0          1     100   10         [5, 6]
1          1     200   20            [7]
2          1     300   30  [5, 7, 8, 10]
3          2     400   40      [1, 2, 3]
4          2     500   50   [1, 2, 3, 4]
5          3     600   60            [1]

In [9]:
vocabulary

{'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9,
 'J': 10}